@font-face {
    font-family: 'NTSomic';
    src: url('assets/fonts/NTSomic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NTSomic';
    src: url('assets/fonts/NTSomic-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NTSomic';
    src: url('assets/fonts/NTSomic-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NTSomic';
    src: url('assets/fonts/NTSomic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: 'NTSomic', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.page_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background: #05193e;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 44px;
}

.header__heading {
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    z-index: 10;
}

.header__subheading {
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    background: linear-gradient(0deg, #0094D6, #4AC7FF);
    background-clip: text;
    -webkit-background-clip: text; /* Required for WebKit browsers */
    color: transparent;
    z-index: 10;
    margin-top: -6px;
}

.description {
    margin-top: 64px;
    max-width: 500px;
}

.description__header {
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 12px;
}

.description__text {
    font-size: 18px;
    line-height: 24px;
}

.header__image_container {
    position: relative;
    display: block;
    width: 240px;
    height: 240px;
}

.header__image {
    position: absolute;
    height: 775px;
    width: 771px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    overflow: visible;
}

.article {

}

.arcticle__heading {
}

.heading {
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
}

.wrapper {
}

.toggel_list {
    display: grid;
    grid-gap: 24px;
    padding: 36px 0;
}

.toggel_list__heading {
}

.toggel_list__items {
    display: grid;
    grid-gap: 12px;
}

.toggel_item,
.education,
.work,
.contact {
    padding: 24px 48px;
    background: linear-gradient(to right top, #03141E4D, #0720384D);
    backdrop-filter: blur(80px);
    box-shadow: inset -1px -1px #00000040, inset 1px 1px #ffffff40;
    border-radius: 24px;
    max-width: 750px
}

.toggel_item__header {
}

.toggle_item__heading,
.education__heading,
.work__heading,
.contact__heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.toggel_item__subheading {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.toggle_item__description,
.education__description,
.work__description {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

.toggel_item {
    display: grid;
    grid-template-areas: "duration header" "duration content";
    grid-gap: 16px 36px;
    grid-auto-columns: 100px auto;
}

.toggel_item__header {
    grid-area: header;
}

.toggel_item__duration {
    align-self: center;
    grid-area: duration;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    opacity: 0.6;
}

.toggel_item_description {
    grid-area: description;
}

.toggel_item__dates {
    margin-bottom: 6px;
}

.toggel_item__term {
}

.article__heading {
}

.education_wrapper {
}

.education {

}

.education__heading {
}

.education__description {
}

.education__duration {
}

.education__description_wrapper {
}

.article__wrapper {
}

.work {
}

.work__heading {
}

.work__description {
}

.work__button {
}

.contacts_wrapper {
}

.contact {
    display: block;
}

.contact__heading {
}

.contact__icon {
}

.contact__icon_behance {
}

.contact__icon_telegram {
}

.contact__icon_github {
}

.contact__icon_instagram {
}

.contact__icon_mail {
}

.footer {
}